USE [DB_SUPPORTHELPER]
GO
/****** Object:  StoredProcedure [dbo].[sp_insert_or_update_machine]    Script Date: 24/10/2025 07:59:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Guian>
-- Create date: <23/10/2025>
-- Description:	<Verifica se hostname está cadastrado e atualizar informações,
--				 se hostname não estiver cadastrado, faz a inserção do mesmo.>
-- =============================================
CREATE PROCEDURE [dbo].[sp_insert_or_update_machine]

-- =============================================
-- PARAMETERS
	@id CHAR(22)
	, @hostname CHAR(15)
	, @isConnected BIT
	, @sgpIsRunning BIT
	, @lastUpdate NVARCHAR(20)
	, @signalR_connectedId VARCHAR(100)
	, @signalR_isActive BIT
-- =============================================
AS
BEGIN
	SET NOCOUNT ON;
	IF EXISTS (SELECT 1 FROM TB_MACHINE WHERE COL_HOSTNAME = @hostname)
		BEGIN
			;THROW 50001, 'Hostname já existe.', 1;
		END
		
	INSERT INTO TB_MACHINE(
		COL_ID
		,COL_HOSTNAME
		, COL_ISCONNECTED
		, COL_SGPISRUNNING
		, COL_CURRENTUSERNAME
		, COL_DOMAINNAME
		, COL_UPTIME
		, COL_OPERATIONALSYSTEM
		, COL_LASTUPDATE
		, COL_SIGNALR_CONNECTIONID
		, COL_SIGNALR_ISACTIVE
		)
		VALUES(
		@id
		, @hostname
		, 1
		, 0
		, 'SEM INFORMAÇÃO'
		, 'SEM INFORMAÇÃO'
		, 'SEM INFORMAÇÃO'
		, 'SEM INFORMAÇÃO'
		, @lastUpdate
		, @signalR_connectedId
		, @signalR_isActive
		)
END